.movie-card-page {
  width: 100%;
  left: 0;
  right: 0;
  margin: 0 auto;
}
.load-btn {
  border: none;
  padding: 10px;
  border-radius: 50px;
  width: 60px;
  height: 60px;
  font-size: 18px;
  background-color: teal;
  color: white;
  margin: 0 10px;
}
.load-btn:hover {
  cursor: pointer;
}
.load-btn:focus {
  outline: none;
}
.end-of-page {
  text-align: center;
  font-size: 19px;
  padding: 10px;
}
.div-btn-center {
  width: fit-content;
  left: 0;
  right: 0;
  margin: 0 auto;
}
.no-results-title {
  text-align: center;
  font-size: 26px;
  margin: 50px;
}
.search-bar {
  width: 100%;
  background-color: rgb(238, 126, 85);
  height: 100%;
  display: inline-block;
}
.input-search {
  width: 40%;
  float: right;
  margin: 10px;
  margin-top: 23px;
}
.dropdown {
  float: left;
}
label {
  margin: 10px 20px;
}
.select-title {
  color: white;
}
